@tailwind base;
@tailwind components;
@tailwind utilities;

.bgimg {
  background-image: url("../../public/library.webp");
  background-size: cover;
  background-position: absolute;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
